# Created by .ignore support plugin (hsz.mobi)
.idea/
.ipynb_checkpoints/
text.model.bin
text8
text8.model
text8.model.syn1neg.npy
text8.model.wv.syn0.npy
text8.zip
word2vector.model
word2vector.model.syn1neg.npy
word2vector.model.wv.syn0.npy
*.tar.gz